.Description {
	margin-top: 150px;
	margin-left: 32px;
	margin-right: 32px;
	display: block;
	@include for-size (desktop-up) {
		display: flex;
		justify-content: space-between;
	}

	&__Under {
		font-size: 18px;
		padding-top: 20px;
	}

	&__Item {
		font-size: 32px;
		width: 100%;
		font-family: 'Boogaloo', cursive;
		@include for-size (desktop-up) {
			display: block;
			font-size: 40px;
			width: 30%;
		}
	}

	&__First {
		margin-top: 50px;

		& > p {
			font-family: 'Ubuntu', sans-serif;
			font-weight: 500;
			line-height: 170%;
			font-size: 18px;
			@include for-size (desktop-up) {
				font-size: 16px;
				font-weight: 500;
			}
		}
	}

	&__Second {
		margin-top: 50px;
		width: 100%;
		@include for-size (desktop-up) {
			margin-top: 0;
			display: flex;
			width: 40%;
			height: 50%;
		}

		& > img {
			width: 100%;
			height: auto;
			@include for-size (desktop-up) {
				height: 100%;
				width: auto;

			}
		}
	}
}
