.Inline {
  overflow-x: hidden;
  white-space: nowrap;
  height: 100%;
  overflow-y: scroll;
  @include for-size (desktop-up) {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

.MrDoodle {
  display: block;
  background-color: black;
  color: white;
  animation-name: transi;
  animation-duration: 1.5s;
  @include for-size (desktop-up) {
    display: inline-flex;
    position: relative;
    align-items: center;
    height: 50%;
  }

  &__Title {
    padding-top: 100Px;
    margin-left: 32px;
    font-size: 36px;
    font-family: $MainFont;
    @include for-size (desktop-up) {
      font-size: 30px;
      padding-top: 0Px;
      width: 50%;
      display: block;
    }
  }

  &__Title2 {
    padding-top: 100Px;
    margin-left: 32px;
    font-size: 36px;
    font-family: $MainFont;
    @include for-size (desktop-up) {
      font-size: 30px;
      padding-top: 0Px;
      margin-left: 150px;
      width: 50%;
      display: block;
    }
  }

  &__Description {
    width: 90%;
    font-family: $SecondFont;
    margin-top: 40px;
    font-weight: 400;
    line-height: 200%;
    font-size: 14px;
    @include for-size (desktop-up) {
      width: 65%;
      font-weight: 200;
      font-size: 16px;
    }

    & > p {
      &:nth-child(9n+1) {
        padding-bottom: 20px;
        white-space: pre-wrap;
      }

      &:nth-child(9n+3) {
        padding-top: 20px;
        font-size: 16px;
        white-space: pre-wrap;
        line-height: 150%;
      }

      &:nth-child(9n+4) {
        white-space: pre-wrap;
        padding-top: 20px;
        font-size: 16px;
        line-height: 170%;
      }

      &:nth-child(9n+5) {
        padding-top: 20px;
        white-space: pre-wrap;
        font-size: 16px;
        line-height: 170%;
      }

      &:nth-child(9n+6) {
        padding-top: 20px;
        white-space: pre-wrap;
        font-size: 16px;
        line-height: 170%;
      }

      &:nth-child(9n+7) {
        padding-top: 20px;
        font-size: 16px;
        white-space: pre-wrap;
        line-height: 170%;
      }
    }
  }

  &__FirstImage {
    margin-top: 50Px;
    width: 100%;
    @include for-size (desktop-up) {
      margin-top: 0Px;
      margin-left: 20%;
      margin-right: 32px;
      width: 30%;
    }

    & > img {
      width: 100%;
      height: auto;
    }
  }
}

.Mdescription {
  font-family: $SecondFont;
  font-weight: 500;
  margin-bottom: 50px;
  font-size: 16px;
  margin-top: 50px;
  line-height: 150%;
  width: 80%;
  @include for-size (desktop-up) {
    margin-bottom: 100Px;
    width: 100%;
    display: flex;
    position: relative;
  }

  &__Display {
    display: block;
    padding-left: 32px;
    width: 100%;
    @include for-size (desktop-up) {
      width: 50%;
    }

    & > h3 {
      padding-bottom: 50px;
      font-family: $MainFont;
      font-size: 36px;
      @include for-size (desktop-up) {
        font-size: 36px;
      }
    }
  }
  @include for-size (desktop-up) {
    font-size: 20px;
    margin-top: 100Px;
    line-height: 200%;
  }
}

.Simage {
  margin-left: 32px;
  display: flex;
  width: 100%;
  @include for-size (desktop-up) {
    margin-left: 0;
    width: 50%;
  }

  &__Item2 {
    margin-top: 50px;
    @include for-size (desktop-up) {
      margin-top: 0;
    }

    & > img {
      width: 100%;
      height: auto;
      margin-right: 0;
      @include for-size (desktop-up) {
        margin-right: 32px;
      }
    }
  }

  & > img {
    width: 100%;
    height: auto;
    @include for-size (desktop-up) {
      width: 33%;
    }
  }
}

.Last {
  margin-bottom: 50px;
  @include for-size (desktop-up) {
    margin-bottom: 100px;
  }
}

.Simage {
  display: flex;
  flex-wrap: wrap;
  margin-right: 32px;
  margin-left: 32px;

  &__Item {
    width: 50%;
    @include for-size (desktop-up) {
      width: 50%;
    }

    & > img {
      width: 100%;
      height: auto;
    }
  }

  &__Item2 {
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 50px;
    @include for-size (desktop-up) {
      margin-top: 0;
      width: 33%;
    }

    & > img {
      width: 100%;
      height: auto;
      @include for-size (desktop-up) {
        width: 100%;
      }
    }
  }

  & > img {
    width: 100%;
    height: auto;
    @include for-size (desktop-up) {
      width: 33%;
    }
  }
}

.slide-in {
  opacity: 0;
  transform: translateY(-80px);
  transition: all 1s;
}

.slide-in.active {
  transform: translateY(0px);
  opacity: 1;
}

.MMoodboard {
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin-left: 32Px;
  margin-right: 32px;
  @include for-size (desktop-up) {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 0;
    margin-left: 80px;
    position: relative;
    height: 50%;
  }

  &__Title {
    width: 100%;
    font-size: 20px;
    font-family: $MainFont;
    @include for-size (desktop-up) {
      font-size: 30px;
      width: 30%;
    }
  }

  &__Color {
    margin-top: 32Px;
    display: flex;
    width: 80%;
    margin-bottom: 0;
    justify-content: space-between;
    @include for-size (desktop-up) {
      margin-top: 70Px;
      margin-bottom: 10px;
      width: 100%;
      justify-content: flex-start;
    }
  }

  &__1 {
    width: 40px;
    height: 40px;
    background-color: #FAAB63;
    @include for-size (desktop-up) {
      height: 60px;
      width: 60px;
      margin-right: 30px;
    }
  }

  &__2 {
    width: 40px;
    height: 40px;
    background-color: #FFD2AE;
    @include for-size (desktop-up) {
      height: 60px;
      width: 60px;
      margin-right: 30px;
    }
  }

  &__3 {
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    @include for-size (desktop-up) {
      height: 60px;
      width: 60px;
      margin-right: 30px;
    }
  }

  &__4 {
    width: 40px;
    height: 40px;
    background-color: #003049;
    @include for-size (desktop-up) {
      height: 60px;
      width: 60px;
      margin-right: 30px;
    }
  }

  &__Typo {
    margin-top: 32px;
    width: 50%;

    & > p {
      font-size: 15px;
      font-weight: 300;
      font-family: 'Lato', sans-serif;
      @include for-size (desktop-up) {
        font-size: 18px;
      }
    }
  }

  &__Typo2 {
    font-size: 15px;
    font-family: 'Lobster', cursive;
    @include for-size (desktop-up) {
      font-size: 18px;
    }
  }
}

.MNext {
  width: 60%;
  margin-bottom: 50px;
  margin-left: 0;
  margin-top: 50px;
  padding-left: 32px;
  @include for-size (desktop-up) {
    width: 30%;
    margin-left: 32px;
    padding-left: 0px;
    align-items: center;
    height: 60%;
    display: inline-flex;
    margin-bottom: 0;
  }

  &__Item {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    transition: background-size 1s ease-out;
    flex-grow: 1;
    color: white;
    transition: all 0.4s ease-out;
    text-decoration: none;
    margin-top: 0Px;
    @include for-size (desktop-up) {
      position: relative;
      padding-right: 50px;
      color: white;
    }

    &:hover {
      opacity: 0.7;
    }

    & > p {
      font-size: 18px;
      font-family: $MainFont;
    }

    & > span {
      margin-left: 32px;
      width: 60px;
      border-bottom: 2px solid #f60d54;
      @include for-size (desktop-up) {
        width: 50px;
      }
    }
  }

  &__Info {
    background-image: url("https://i.imgur.com/zxBZzch.png");
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: 50% 50%;
    width: 100%;
    height: 80px;
    transition: opacity 0.45s ease-in-out;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.4s ease-out;
    color: #fff;
    opacity: 1;
    @include for-size (desktop-up) {
      height: 200px;
    }

    &:hover {
      transition: all 0.4s ease-out;
      background-size: 122%;
    }

    & > p {
      background: rgba(35, 35, 35, 0.7);
      padding-top: 20px;
      padding-left: 20px;
      line-height: 150%;
      height: 100%;
      font-family: $MainFont;
      color: white;
      font-weight: 500;
      font-size: 14px;
      text-decoration: none;
      @include for-size (desktop-up) {
        padding-top: 70px;
        font-size: 18px;
      }
    }
  }
}

.MrDoodle__FirstImage2 {
  display: block;
  margin-right: 0;
  @include for-size (desktop-up) {
    margin-top: 0Px;
    width: 50%;
    margin-right: 32px;
  }

  & > img {
    margin: 0 auto;
    width: 50%;
    height: auto;
    @include for-size (desktop-up) {
      width: 40%;
    }
  }
}

.scrolls {
  width: 100px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  font-size: 40px;
  height: 100%;
  font-weight: 100;
  margin-right: 50px;
  @include for-size (desktop-up) {
    margin-right: 150px;
  }

  & > img {
    width: 80%;
    height: auto;
    @include for-size (desktop-up) {
      width: 100%;
      height: auto;
    }
  }
}
@keyframes transi {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
